.modal.fade{"aria-labelledby" => "mySmallModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1", id: "NewOrder"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#mySmallModalLabel.modal-title Оформление покупки
      .modal-body
        = form_tag(products_new_order_path, method: :post, remote: true, class: 'form-search-products') do
          .form-group
            = text_field_tag :phone, '', placeholder: 'Введите номер телефона', class: 'form-control'
            = hidden_field_tag :product_code, params[:guid]
            = hidden_field_tag :product_title, params[:name]
            = hidden_field_tag :price, params[:price]
          = submit_tag 'Заказать', name: nil, class: 'btn btn-primary'