.row
  .col-xs-12
    = form_tag(root_path, method: :get, class: 'form-inline form-search-products') do
      .form-group
        = text_field_tag :search, params[:search], placeholder: 'Поиск', class: 'form-control'
      = submit_tag 'Поиск', name: nil, class: 'btn btn-primary'


.row
  .col-xs-12
    - if @products.try(:last).present?

      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Наименование
            %th Код производителя
            %th Производитель
            %th Цена
            %th Покупка
        %tbody
          - @products.each_with_index do |product, index|
            %tr
              %th{:scope => "row"}= index.next
              %td= product.dig(:name)
              %td= product.dig(:part_number)
              %td= product.dig(:brand)
              %td= product_price_rossko(product)
              %td
                = button_to 'Купить', products_render_order_modal_path, remote: true, class: 'btn btn-primary'

    - else
      .not-found
        %p По вашему запросу ничего не найдено.