!!!
%html
  %head
    %title Store
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Автопульс72
      #navbar.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 0.8px;"}
        %ul.nav.navbar-nav
          %li{class: nav_active?}
            = link_to 'Поиск', root_path
          - Page.all.each do |page|
            %li{class: pages_nav_active?(page.id)}
              = link_to page.title, page_path(page.id)


  .container
    .padding
    = yield